html, body{
        /*background-image: url("./test.jpeg");
   /* background-repeat: no-repeat;*/
    /* background-size: cover;*/
    width: auto;
    margin: 0;
    height: 100%;
}

.container{
    position: relative;
    width:100%;
    height:100%;
}

#moveArea{
    float: left;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 30%;
    height: 40%;
    cursor: pointer;
    background-color: red;
}

#cameraArea{
    float: right;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width:30%;
    height: 40%;
    cursor: pointer;
    background-color: blue;
}

#touchArea{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    /*background:linear-gradient(90deg,blue 0%,blue 40%, white 40%, white 60%, red 60%,red 100%);*/
    cursor: pointer;
}


#camstream{
    width: 100%;
    height: 100%;
    position: absolute;
}